{% extends "adminindex.html" %}
{% block title %}Admin Market Hours{% endblock %}
{% block content %}
<body>
    <div class="container-fluid">
        <!-- Flash Messages -->
        <div class="row">
            <div class="col">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="text-center">
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show text-center mx-auto" role="alert" style="max-width: 400px; margin-top: 10px;">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
            </div>
        </div>
        <!-- Market Hours Content -->
        <div class="row">
            <div class="col ps-4">
                <br>
                <h1>Market Hours Management</h1>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col ps-4">
                <h2>Current Market Hours: {{ market_hours.open_time }} - {{ market_hours.close_time }} </h2>
                <h3>Market Status: {% if market_hours.is_open %} Open {% else %} Closed {% endif %}</h3>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col ps-4">
                <button type="button" class="button-green btn btn-primary me-3" data-bs-toggle="modal" data-bs-target="#createStockModal">
                    Edit Market Hours
                </button>
            </div>
        </div>
    </div>
</body>

<!-- Edit Market Hours Modal -->
<div class="modal fade" id="createStockModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Edit Market Hours</h2>
        <button type="button" class="close btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <form method="POST" action="{{ url_for('adminmarkethours', username=user_information.username) }}">
          {{ form.hidden_tag() }}
          <div class="mb-3">
            {{ form.open_time.label }}
            {{ form.open_time(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.close_time.label }}
            {{ form.close_time(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
