{% extends "base.html" %}
{% block title %}Admin Stock Page{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Stock Management Page</h1>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>List of Current Stocks</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button">Create a Stock</button>
                <button type="button">Edit a Stock</button>
                <button type="button">Delete a Stock</button>
            </div>
        </div>
    </div>
{% endblock %}