<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Create Account</title>
        <link rel="icon" href="/static/logo.png">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

        <!-- Login and Modal CSS -->
        <link href="/static/styles/login.css" rel="stylesheet" />
        <link href="/static/styles/modal.css" rel="stylesheet" />
    </head>
  
    <body class="d-flex flex-column min-vh-100">
        <div class="container-fluid">
            <div class="center position-absolute top-0 start-50 translate-middle-x text-center">
                <img src="static/logo.png/" width="175px"/>
                <h1>Account Creation</h1>
                <br>
                <h5>All Fields are Required</h5>
                <br>

                <!-- Flash Messages -->
                {% with messages = get_flashed_messages(category_filter=["error"]) %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <form method="POST" action="">
                    {{ userForm.hidden_tag() }}
                    <div class="form-group">
                        <div class="row justify-content-center">
                            {{ userForm.first_name(class="input form-control w-100", id="firstnameInput", placeholder="First Name") }}
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="row justify-content-center">
                            {{ userForm.last_name(class="input form-control w-100", id="lastnameInput", placeholder="Last Name") }}
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="row justify-content-center">
                            {{ userForm.username(class="input form-control w-100", id="usernameInput", placeholder="Username") }}
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="row justify-content-center">
                            {{ userForm.email(class="input form-control w-100", id="emailInput", placeholder="Email") }}
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="row justify-content-center">
                            {{ userForm.password(class="input form-control w-100", id="passwordInput", placeholder="Password (Minimum of 8 Characters)", type="password") }}
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="row justify-content-center">
                            {{ userForm.confirm(class="input form-control w-100", id="passwordInput", placeholder="Repeat Password", type="password") }}
                        </div>
                    </div>
                    <br>
                    <p>{{ userForm.submit(class="button-green btn btn-secondary w-50", value="Submit") }}</p>
                    <a class="button-red btn btn-primary" href="{{ url_for('accountcanceled') }}" role="button">Cancel</a>
                </form>

                <!-- Back to Login Link -->
                <br>
                <a href="{{ url_for('login') }}" class="btn btn-link">Back to Login</a>
            </div>
        </div>
        <footer class="mt-auto">
            <p>Created by: Luke Langseth, Isaac Petray, Brandon Tubman, and Hari Adapala</p>
        </footer>

        <!-- Bootstrap JS and dependencies -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>

