{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Welcome User</h1>
                <br>
                <h2>Today's Portfolio Value: Display Total Value Data</h2>
                <br>
                <h2>Today's Change: Display Total Value Change%</h2>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <h3>Top Performers</h3>
                <br>
                <ul class="list-group">
                    <li class="list-group-item"><a href="#">Stock 1 Name: Change%</a></li>
                    <li class="list-group-item"><a href="#">Stock 2 Name: Change%</a></li>
                    <li class="list-group-item"><a href="#">Stock 3 Name: Change%</a></li>
                    <li class="list-group-item"><a href="#">Stock 4 Name: Change%</a></li>
                    <li class="list-group-item"><a href="#">Stock 5 Name: Change%</a></li>
                </ul>
            </div>
            <div class="col text-center">
                <h3>Low Performers</h3>
                <br>
                <ul class="list-group"></ul>
                    <li class="list-group-item"><a href="#">Stock 1 Name: Change%</a></li>
                    <li class="list-group-item"><a href="#">Stock 2 Name: Change%</a></li>
                    <li class="list-group-item"><a href="#">Stock 3 Name: Change%</a></li>
                    <li class="list-group-item"><a href="#">Stock 4 Name: Change%</a></li>
                    <li class="list-group-item"><a href="#">Stock 5 Name: Change%</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}