{% extends "index.html" %}
{% block title %}Portoflio{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col ps-4">
            <br>
            <h1>{{ user_information.first_name }}'s Portfolio</h1>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-6 ps-4">
            <h2>Portfolio Value: ${{ "{:,.2f}".format(portfolio.total_balance) }}</h2>
            <br>
            <h3>Stock Value: ${{ "{:,.2f}".format(portfolio.stock_balance) }}</h3>
            <h3>Cash Value: ${{ "{:,.2f}".format(portfolio.cash_balance) }}</h3>
            <br>
            <h3>Today's Trend</h3>
            <br>
            <canvas id="myChart"></canvas>
        </div>
        <div class="col-4 text-center" style="margin-left: 200px">
            <div>
                <canvas id="stocks"></canvas>
            </div>
            <div class="chart-container">
                <canvas class="balance"></canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col ps-4">
            <h2>Stocks Owned</h2>
            <table class="table table-dark table-striped fs-4">
                <thead>
                    <tr class="text-center">
                    <th scope="col" class="col-4">Stock</th>
                    <th scope="col" class="col-4">Number of Shares</th>
                    <th scope="col" class="col-4">Total Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stocks_owned_by_user %}
                        <tr class="text-center">
                        <th scope="row"><a href="{{ url_for('stockviewer', username=user_information.username, stockname=stock.stock_name) }}">{{ stock.stock_name }}</a></th>
                        <td>{{ numOfSharesOwned[stock.id] }}</td>
                        <td>${{ "{:,.2f}".format(numOfSharesOwned[stock.id] * stock.current_market_price) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const chartData = {
            labels: ["Cash", "Stocks"],
            data: ['{{ "{:,.2f}".format(portfolio.cash_balance) }}', '{{ "{:,.2f}".format(portfolio.stock_balance) }}'],
        };

        new Chart(stocks, {
            type: "doughnut",
            data: {
                labels: chartData.labels,
                datasets: [
                    {
                        label: "Balance",
                        data: chartData.data,
                        borderColor: "white",
                        color: "green",
                        backgroundColor: ["#4B5320", "#9ACD32"] // Military Green and Muted Lime Green
                    },
                ]
            },
            options: {
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }

        })

        
        const ctx = document.getElementById("myChart");

        const chartData2 = {
            labels: ["9:30am", "10am", "10:30am", "11:00am", "11:30am", "12:00pm", "12:30pm", "1:00pm", "1:30pm", "2:00pm", "2:30pm", "3:00pm", "3:30pm", "4:00pm"],
            data: ["{{ portfolio_value_history.nine_thirty }}",
                    "{{ portfolio_value_history.ten }}",
                    "{{ portfolio_value_history.ten_thirty }}",
                    "{{ portfolio_value_history.eleven }}",
                    "{{ portfolio_value_history.eleven_thirty }}",
                    "{{ portfolio_value_history.twelve }}",
                    "{{ portfolio_value_history.twelve_thirty }}",
                    "{{ portfolio_value_history.one }}",
                    "{{ portfolio_value_history.one_thirty }}",
                    "{{ portfolio_value_history.two }}",
                    "{{ portfolio_value_history.two_thirty }}",
                    "{{ portfolio_value_history.three }}",
                    "{{ portfolio_value_history.three_thirty }}",
                    "{{ portfolio_value_history.four }}",],
        };

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: chartData2.labels,
                datasets: [
                    {
                        data: chartData2.data,
                        borderColor: 'green',
                        backgroundColor: 'rgba(0, 128, 0, 0.13)',
                        fill: true,
                    }
                ]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: false
                    }
                },
                interaction: {
                    intersect: false,
                },
                scales: {
                    y: {
                        beginAtZero: false,
                    }
                }
            }
        })
    </script>

{% endblock %}