{% extends "base.html" %}
{% block title %}Portoflio{% endblock %}
{% block content %}
<style>

    body {
        background-color: #000;
        font-family: Arial, sans-serif;
        margin: 0;
        color: #fff;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .buttons {
        width: 200px;
        margin: 0 auto;
        display: inline;
        background-color: #555;
    }

    .buttons-container {
        display: inline;
    }

    .box1 {
        background-color: #343a40 ;
        margin-right: 2.5%;
        border-radius: 5%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 20px;
    }

    .box2 {
        background-color: #343a40 ;
        margin-left: 2.5%;
        height: 80vh;
        border-radius: 5%;
        margin-bottom: 5%;
    }

    .list-group-item {
        background-color: #343a40 ;
        border: none;
    }

    .content {
        flex-grow: 1;
    }

    .chart-container {
        position: relative;
        margin: auto;
        height: 70vh;
    }

</style>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Portfolio</h1>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col text-center box1">
            <h3>Portfolio Value</h3>
            <br>
            <ul class="list-group">
                <li class="list-group-item"><a href="#">Stock 1 Name: Change%</a></li>
                <li class="list-group-item"><a href="#">Stock 2 Name: Change%</a></li>
                <li class="list-group-item"><a href="#">Stock 3 Name: Change%</a></li>
                <li class="list-group-item"><a href="#">Stock 4 Name: Change%</a></li>
                <li class="list-group-item"><a href="#">Stock 5 Name: Change%</a></li>
            </ul>
            <div class="buttons-container">
                <button onclick="transfer()" class="buttons btn btn-dark">Transfer</a>
                <button onclick="withdrawl()" class="buttons btn btn-dark">Withdrawl</button>
            </div>
        </div>
        <div class="col text-center box2">
            <h3>My Stocks</h3>
            <div class="chart-container">
                <canvas class="stocks"></canvas>
            </div>
        </div>
    </div>
</div>
<div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>

        function transfer() {
            window.location.href = "{{ url_for('trade') }}";
        }

        function withdrawl() {
            alert("withdrawl time")
        }

        const chartData = {
            labels: ["Stock1", "Stock2", "Stock3", "Stock4", "Others"],
            data: [30, 17, 10, 7, 36],
        };

        const stocks = document.querySelector(".stocks")

        new Chart(stocks, {
            type: "doughnut",
            data: {
                labels: chartData.labels,
                datasets: [
                    {
                        label: "Stocks",
                        data: chartData.data,
                    }
                ]
            }

        })
 
    </script> 

</div>
{% endblock %}