{% extends "index.html" %}
{% block title %}{{ stock_information.stock_name }}{% endblock %}
{% block content %}
<body>
    <div class="container-fluid ps-4">
        <!-- Flash Messages -->
        <div class="row">
            <div class="col">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="text-center">
                    {% for category, message in messages %}
                    <div class="alert alert-{{ 'success' if category == 'success' else 'danger' }} alert-dismissible fade show text-center mx-auto" role="alert" style="max-width: 400px; margin-top: 10px;">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
            </div>
        </div>

        <div class="row">
            <div class="col">
                <br>
                <h1>{{ stock_information.stock_name }}</h1>
                <h5>{{ stock_information.ticker_symbol }}</h5>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <h2>Current Price: ${{ "{:,.2f}".format(stock_information.current_market_price) }}</h2>
                <h3 id="precentageChange">Today's Change:  <span id="percentageValue">{{ stock_information.precentage_change }}%</span></h3>
                <br>
                <h6>Opening Price: ${{ "{:,.2f}".format(stock_information.opening_price) }}</h6>
                <h6>Today's High: ${{ "{:,.2f}".format(stock_information.todays_high) }}</h6>
                <h6>Today's Low: ${{ "{:,.2f}".format(stock_information.todays_low) }}</h6>
                <h6>Total Market Cap: ${{ "{:,.2f}".format(stock_information.total_market_cap) }}</h6>
                <br>
                <canvas id="myChart"></canvas>
            </div>
            <div class="col-5 text-center">
                <h3>Current Purchasing Power: ${{ "{:,.2f}".format(portfolio.cash_balance) }}</h3>
                <br>
                <h4 id="shares">Number of Shares Available to Purchase: {{ stock_information.number_of_shares_to_purchase }}</h4>
                <br>
                <br>
                {% if market_open %}
                    <button id="buy" type="submit" name="submit" value="Buy" class="button-green btn btn-secondary me-3" style="width:85px">Buy</button>
                    <button id="sell" type="submit" name="submit" value="Sell" class="button-red btn btn-secondary" style="width:85px">Sell</button>
                {% else %}
                    <button id="buy" type="submit" name="submit" value="Buy" class="button-green btn btn-secondary me-3" style="width:85px" disabled>Buy (Market Closed)</button>
                    <button id="sell" type="submit" name="submit" value="Sell" class="button-red btn btn-secondary" style="width:85px" disabled>Sell (Market Closed)</button>
                {% endif %}
                <br>
                <br>
                <br>
                <form id="buyForm" method="POST" action="" onsubmit="return confirmBuy();">
                    {{ stockForm.hidden_tag() }}
                    <div class="mb-3">
                      <p id="stockInput">{{ stockForm.numOfShares(class="input form-control w-50 mx-auto text-center", placeholder="Number of Shares") }}</p>
                    </div>
                <br>
                <h5 id="displayTotal">Total Amount: $0</h5>
                <br>
                    <p id="stockButton">{{ stockForm.submit(class="button-green btn btn-primary w-25", value="Buy") }}</p>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>

<script>

    const ctx = document.getElementById("myChart");

    const chartData = {
        labels: ["9:30am", "10am", "10:30am", "11:00am", "11:30am", "12:00pm", "12:30pm", "1:00pm", "1:30pm", "2:00pm", "2:30pm", "3:00pm", "3:30pm", "4:00pm"],
        data: [ "{{ stock_price_history_information.nine_thirty }}", 
                "{{ stock_price_history_information.ten }}", 
                "{{ stock_price_history_information.ten_thirty }}", 
                "{{ stock_price_history_information.eleven }}", 
                "{{ stock_price_history_information.eleven_thirty }}", 
                "{{ stock_price_history_information.twelve }}", 
                "{{ stock_price_history_information.twelve_thirty }}", 
                "{{ stock_price_history_information.one }}", 
                "{{ stock_price_history_information.one_thirty }}", 
                "{{ stock_price_history_information.two }}", 
                "{{ stock_price_history_information.two_thirty }}", 
                "{{ stock_price_history_information.three }}", 
                "{{ stock_price_history_information.three_thirty }}", 
                "{{ stock_price_history_information.four }}", 
        ],
    };

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: chartData.labels,
            datasets: [
                {
                    data: chartData.data,
                    borderColor: 'green',
                    backgroundColor: 'rgba(0, 128, 0, 0.13)',
                    fill: true,
                }
            ]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: false
                }
            },
            interaction: {
                intersect: false,
            },
            scales: {
                y: {
                    beginAtZero: false,
                }
            }
        }
    })

    document.getElementById('buy').addEventListener('click', function() {
        document.getElementById('shares').innerHTML = "Number of Shares Available: {{ stock_information.number_of_shares_to_purchase }}";
        document.getElementById('buyForm').setAttribute("onsubmit", "return confirmBuy();");
        document.getElementById('stockButton').innerHTML = '{{ stockForm.submit(class="button-green btn btn-primary w-25", value="Buy") }}';

    });

    document.getElementById('sell').addEventListener('click', function() {
        document.getElementById('shares').innerHTML = "Number of Shares Owned: {{ numOfSharesOwned }}";
        document.getElementById('buyForm').setAttribute("onsubmit", "return confirmSell();");
        document.getElementById('stockButton').innerHTML = '{{ stockForm.submit(class="button-red btn btn-primary w-25", value="Sell") }}';
    });

    var stockname = "{{ stock_information.stock_name }}";
    var cost = "{{ stock_information.current_market_price }}";
    var numOfSharesMain = document.getElementById("numOfShares");

    document.getElementById("numOfShares").addEventListener("keyup", function changeText()
    {
        var numOfShares = this.value
        var total = numOfShares * cost;

        document.getElementById("displayTotal").innerHTML = "Total Amount: $" + total.toFixed(2);
    })

    function confirmBuy() {
        var numOfShares = numOfSharesMain.value;
        var total = numOfShares * cost;
        var stock_name = stockname

        return confirm("Confirm the Purchase Order of " + numOfShares + " Share\(s\)" +  " of " + stock_name + " for a Total Amount of $" + total.toFixed(2));
    }

    function confirmSell() {
        var numOfShares = numOfSharesMain.value;
        var total = numOfShares * cost;
        var stock_name = stockname

        return confirm("Confirm the Sale Order of " + numOfShares + " Share\(s\)" +  " of " + stock_name + " for a Total Amount of $" + total.toFixed(2));
    }

    var percentageChange = parseFloat(document.getElementById('percentageValue').textContent);

    var percentageElement = document.getElementById('percentageValue');

    if (percentageChange > 0) {
        percentageElement.textContent = "+" + percentageChange.toFixed(2) + "%";
        percentageElement.style.color = 'green';  
    } else if (percentageChange < 0) {
        percentageElement.textContent = percentageChange.toFixed(2) + "%";
        percentageElement.style.color = 'red';    
    }
</script>
{% endblock %}