{% extends "index.html" %}
{% block title %}Trade{% endblock %}
{% block content %}
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col ps-4">
                <br>
                <h1>Trade</h1>
                <h2>Today's Market Hours: {{ market_hours.open_time }} - {{ market_hours.close_time }} </h2>
                <br>
            </div> 
        </div>
        <div class="row ps-3">
            {% for stock in stocks %}
            <div class="col-md-2">
                <a class="card-hover" href="{{ url_for('stockviewer', username=user_information.username, stockname=stock.stock_name) }}">
                    <div class="card">
                        <div class="card-body">
                            <h2>{{ stock.ticker_symbol }}</h2>
                            <p class="pb-4">{{ stock.stock_name }}</p>
                            <h3 class="pb-4" id="precentageValue">${{ "{:,.2f}".format(stock.current_market_price) }}</h3>
                            <h4 id="percentageValue">{{ stock.precentage_change }}%</h4>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

<script>
    var percentageElements = document.querySelectorAll('#percentageValue');

    percentageElements.forEach(function(percentageElement) {

        var percentageChange = parseFloat(percentageElement.textContent.replace('%', '').trim());

        if (percentageChange > 0) {
            percentageElement.textContent = "+" + percentageChange.toFixed(2) + "%";
            percentageElement.style.color = 'green';  
        } else if (percentageChange < 0) {
            percentageElement.textContent = percentageChange.toFixed(2) + "%";
            percentageElement.style.color = 'red';    
        }
    });
</script>
{% endblock %}