{% extends "index.html" %}
{% block title %}Trading History{% endblock %}
{% block content %}
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col ps-4">
                <br>
                <h1>Trade History</h1>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col ps-4">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr class="text-center">
                        <th scope="col">Type (Buy or Sell)</th>
                        <th scope="col">Total Amount</th>
                        <th scop="col">Date of Transaction</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
{% endblock %}